<div class="footer wf-section">
    <div class="div-block-34">
      <a href="{{ links.23 }}" class="w-inline-block"><img src="{{ images.-28f45a8b.url }}" loading="lazy" width="73" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;73px&quot;}]" sizes="(max-width: 479px) 100vw, 73px" alt="{{ images.-28f45a8b.alt | trim | escape }}"></a>
    </div>
    <div>
      <div class="div-block-35">
        <div class="div-block-115">
          <a href="{{ links.-7d94dbaf }}" target="_blank" class="nav-link">{{ texts.-78ddacdd }}</a>
          <a href="{{ links.-1c95498e }}" target="_blank" class="nav-link">{{ texts.-7b7e4a65 }}</a>
          <a href="{{ links.63cd8f2d }}" class="nav-link">{{ texts.-4b5115e4 }}</a>
          <a href="{{ links.-66ead1f3 }}" class="nav-link">{{ texts.645efc51 }}</a>
        </div>
        <div class="div-block-111 div-block-112 div-block-113">
          <a href="{{ links.56111ae8 }}" target="_blank" class="w-inline-block"><img src="{{ images.48bffe6f.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:1439,&quot;size&quot;:&quot;32px&quot;},{&quot;max&quot;:1919,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;32px&quot;}]" alt="{{ images.48bffe6f.alt | trim | escape }}"></a>
          <a href="{{ links.5a07314a }}" target="_blank" class="w-inline-block"><img src="{{ images.2b0a21b0.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:1439,&quot;size&quot;:&quot;32px&quot;},{&quot;max&quot;:1919,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;32px&quot;}]" sizes="(max-width: 479px) 100vw, (max-width: 1439px) 32px, (max-width: 1919px) 2vw, 32px" alt="{{ images.2b0a21b0.alt | trim | escape }}"></a>
          <a href="{{ links.-1bc215c5 }}" target="_blank" class="w-inline-block"><img src="{{ images.73d95bca.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:1439,&quot;size&quot;:&quot;32px&quot;},{&quot;max&quot;:1919,&quot;size&quot;:&quot;2vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;32px&quot;}]" sizes="(max-width: 479px) 100vw, (max-width: 1439px) 32px, (max-width: 1919px) 2vw, 32px" alt="{{ images.73d95bca.alt | trim | escape }}"></a>
        </div>
      </div>
      <div>
        <div class="text-block-10">{{ texts.69f6a98d }}</div>
      </div>
    </div>
  </div>