<div class="footer-mobile section-6 wf-section">
    <div class="div-block-39">
      <a href="{{ links.23 }}" class="w-inline-block"><img src="{{ images.-28f45a8b.url }}" loading="lazy" width="54" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;33vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="(max-width: 479px) 33vw, 100vw" alt="{{ images.-28f45a8b.alt | trim | escape }}"></a>
    </div>
    <div class="div-block-40">
      <div class="div-block-97">
        <a href="{{ links.23 }}" class="nav-link mobile">{{ texts.79533eb5 }}</a>
        <a href="{{ links.23 }}" class="nav-link mobile">{{ texts.7b881dc0 }}</a>
      </div>
      <div class="div-block-98">
        <a href="{{ links.23 }}" class="nav-link mobile">{{ texts.-4b5115e4 }}</a>
        <a href="{{ links.23 }}" class="nav-link mobile">{{ texts.645efc51 }}</a>
      </div>
    </div>
    <div class="div-block-111 div-block-112 div-block-113">
      <a href="{{ links.23 }}" class="w-inline-block"><img src="{{ images.48bffe6f.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;32px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.48bffe6f.alt | trim | escape }}"></a>
      <a href="{{ links.23 }}" class="w-inline-block"><img src="{{ images.2b0a21b0.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;32px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="(max-width: 479px) 32px, 100vw" alt="{{ images.2b0a21b0.alt | trim | escape }}"></a>
      <a href="{{ links.23 }}" class="w-inline-block"><img src="{{ images.73d95bca.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;32px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="(max-width: 479px) 32px, 100vw" alt="{{ images.73d95bca.alt | trim | escape }}"></a>
    </div>
    <div>
      <div class="text-block-11">{{ texts.69f6a98d }}</div>
    </div>
  </div>