<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar-2 w-nav">
    <div class="div-block-89">
      <a href="{{ links.2f }}" class="brand-3 w-nav-brand"><img width="54" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;54px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" src="{{ images.-28f45a8b.url }}" loading="lazy" sizes="(max-width: 479px) 54px, 100vw" alt="{{ images.-28f45a8b.alt | trim | escape }}"></a>
      <div class="menu-button-3 w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <nav role="navigation" class="nav-menu-2 w-nav-menu">
        <a href="{{ links.23 }}" target="_blank" class="nav-link-2 w-nav-link">{{ texts.-78ddacdd }}</a>
        <a href="{{ links.63cd8f2d }}" class="nav-link-2 w-nav-link">{{ texts.-4b5115e4 }}</a>
        <a href="{{ links.37f6286f }}" target="_blank" class="nav-link-2 w-nav-link">{{ texts.e313b47 }}</a>
        <a href="{{ links.-66ead1f3 }}" class="nav-link-2 w-nav-link">{{ texts.645efc51 }}</a>
        <div class="div-block-111 div-block-112 div-block-113">
          <a href="{{ links.23 }}" class="w-inline-block"><img src="{{ images.48bffe6f.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.48bffe6f.alt | trim | escape }}"></a>
          <a href="{{ links.23 }}" class="w-inline-block"><img src="{{ images.2b0a21b0.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" alt="{{ images.2b0a21b0.alt | trim | escape }}"></a>
          <a href="{{ links.-1bc215c5 }}" class="w-inline-block"><img src="{{ images.73d95bca.url }}" loading="lazy" width="32" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" sizes="100vw" alt="{{ images.73d95bca.alt | trim | escape }}"></a>
        </div>
      </nav>
    </div>
  </div>